
@{
    ViewData["Title"] = "Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start contact us page HTML code -->
<section class="blogPage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-4 col-xl-4">
                <div class="all-caption blog-text">
                    <h2>What's <span class="blue-text">New?</span></h2>
                    <p>Where Expert and Undiscovered Voices Can <br />share Their Writing on Any Topic.</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-8 col-xl-8">
                <div class="blogSideHeight">
                    <div class="row border-bottom pb-5 mb-3">
                        <div class="col-md-3">
                            <div class="bellow-content">
                                <div class="blogDate">
                                    <h4>8 Mins Read</h4>
                                    <p>13 May 2021</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="bellow-content blogBtn">
                                <h3>All You Need to Know About Buyer’s Closing Costs </h3>
                                <p>
                                    The home buying experience can be exciting.  You’re ready to settle down or upgrade to more space for your family.
                                    But with all the action surrounding getting pre-approved, finding a reputable Real Estate Agent and vising open
                                    houses, there’s one thing that can’t be forgotten during the excitement – your closing costs.
                                </p>
                                <a href='@Url.Action("BuyersClosingCosts", "Aboutus")' class="btn">Learn More...</a>
                            </div>
                        </div>
                    </div>
                    <div class="row border-bottom pb-5 mb-3">
                        <div class="col-md-3">
                            <div class="bellow-content">
                                <div class="blogDate">
                                    <h4>5 Mins Read</h4>
                                    <p>13 May 2021</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="bellow-content blogBtn">
                                <h3>Avoid These Common Mistakes When Selling Your Home</h3>
                                <p>
                                    It’s time consuming, it can be emotional, it’s overwhelming – let’s face it, it’s A LOT when you’re looking to
                                    put your home on the market.  First time home sellers may find the process frustrating and it’s very common for
                                    mistakes to be made during the process.  Check out the biggest mistakes to avoid when looking to sell your home.
                                </p>
                                <a href='@Url.Action("SellingYourHome", "Aboutus")' class="btn">Learn More...</a>
                            </div>
                        </div>
                    </div>
                    <div class="row border-bottom pb-5 mb-3">
                        <div class="col-md-3">
                            <div class="bellow-content">
                                <div class="blogDate">
                                    <h4>20 Mins Read</h4>
                                    <p>13 May 2021</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="bellow-content blogBtn">
                                <h3>Navigating Today’s Hot Real Estate Market – How To Land A Deal </h3>
                                <p>
                                    Supply is low which is pushing home prices higher and higher.  In this hot market, it can be hard for buyer’s
                                    to land a deal.  We break it down to four simple steps below on how to navigate the market and come out on top
                                    when searching for your next home.
                                </p>
                                <a href='@Url.Action("HowToLandADeal", "Aboutus")' class="btn">Learn More...</a>
                            </div>
                        </div>
                    </div>
                    <div class="row border-bottom pb-5 mb-3">
                        <div class="col-md-3">
                            <div class="bellow-content">
                                <div class="blogDate">
                                    <h4>18 Mins Read</h4>
                                    <p>13 May 2021</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="bellow-content blogBtn">
                                <h3>Why Should I Get Pre-Approved For A Mortgage?</h3>
                                <p>
                                    You’re moving across the country – how exciting!  Before you start loading up your moving truck, you want to
                                    find a place to live.  Just landed your dream job – so many feelings and emotions.  Let’s get the contract
                                    signed before you start decorating your office.  The same mindset comes into play when you’re looking to
                                    purchase a new home.  Your first step to ensure everything goes smoothly?  Get pre-approved.  Serious
                                    homebuyers should start the process by obtaining their pre-approval letter, not by visiting an abundance
                                    of open houses.
                                </p>
                                <a href='@Url.Action("PreApprovedForAMortgage", "Aboutus")' class="btn">Learn More...</a>
                            </div>
                        </div>
                    </div>
                    <div class="row border-bottom pb-5 mb-3">
                        <div class="col-md-3">
                            <div class="bellow-content">
                                <div class="blogDate">
                                    <h4>03 Mins Read</h4>
                                    <p>13 May 2021</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="bellow-content blogBtn">
                                <h3>Reasons Why You Should Refinance Your Mortgage</h3>
                                <p>
                                    Unless you’re living under a rock, we’re sure you’ve heard the news that interest rates are at ALL TIME LOWS.
                                    But what does this mean?  If you are finding it difficult to service your mortgage, or wish to benefit from
                                    lower interest rates, you can opt for refinancing. Many private and government-controlled home refinancing
                                    programs are available to the general public. As long as you meet their criteria, you can refinance your
                                    mortgage.
                                </p>
                                <a href='@Url.Action("RefinanceYourMortgage", "Aboutus")' class="btn">Learn More...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact us page HTML code -->
